# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/
.metadata/

# NetBeans files
nbproject/
nb-configuration.xml

# Visual Studio Code files
.vscode/

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle-specific files
.gradle/
build/

# SonarQube files
.sonarqube/

# Spring Boot files
/target/
!.mvn/wrapper/maven-wrapper.jar

# Caches
*.log
*.iml
.idea/
.gradle/
build/
out/

# Local configuration file (e.g., application.properties)
src/main/resources/application.properties

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

db.properties
